<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Liste des Clients</title>
		<link rel="stylesheet" type="text/css" th:href="@{../public/css/bootstrap.min.css}"/>
	</head>
	<body>
		<div class="nav navbar-default">
			<ul class="nav navbar-nav">
				<li><a th:href="@{/Village/listeVillage}">Gestion des Villages</a></li>
				<li><a th:href="@{/Client/listeClient}">Gestion des Clients</a></li>
			</ul>
		</div>
	<div class="row col-sm-12 col-ms-12 col-lg-12 ">
		<div class="col-sm-8 col-ms-8 col-lg-8">
			<div class="card card-primary">
				<div class="card-header bg-primary py-3 d-flex flex-row align-items-center justify-content-between">
                	<h6 class="m-0 font-weight-bold text-white">Liste des Clients</h6>
            	</div>
				<div class="card-body">
					<!-- //on recupère la liste et à chaque fois on met une entrée dans l -->
					<table class="table table-striped table-bordered table-hover">
						<thead class="thead-light">
						<tr class="text-center">
							<th>Nom Client</th>
							<th>Adresse</th>
							<th>N° Téléphone</th>
							<th>Village</th>
							<th colspan="2">Action</th>
						</tr>
						</thead>
						<tr th:each="l:${liste_clients}">
							<td th:text="${l.nomFamille}"></td>
							<td th:text="${l.adresse}"></td>
							<td th:text="${l.numTel}"></td>
							<td th:text="${l.village.nom}"></td>
					<!-- Editer retourne à la méthode edit dans le controller Village -->
							<td><a th:href="@{/Client/editer(id=${l.id})}">Editer</a></td>
							<td><a th:href="@{/Client/supprimer(id=${l.id})}">Supprimer</a></td>
						</tr>
					</table>
				</div>
	<!--		<div class="panel-footer">Gestion des Clients</div> -->
			</div>
		</div>
		
		<div class="col-sm-4 col-ms-4 col-lg-4">
			<div class="card card-primary">
				<div class="card-header bg-primary py-3 d-flex flex-row align-items-center justify-content-between">
                	<h6 class="m-0 font-weight-bold text-white">Formulaire des clients</h6>
            	</div>
				<div class="card-body">
					<form method="POST" th:action="@{/Client/addClient}" th:object="${client}">
				<!-- Recupérationde l"ID pour la mise à jour -->
						<input class="form-control" type="hidden" name="id" th:field="*{id}" />
	                    <div class="form-group">
	                        <label class="control-label">Nom du Client</label>
	                        <input class="form-control" type="text" name="nomFamille" th:field="*{nomFamille}" />
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label">Adresse</label>
	                        <input class="form-control" type="text" name="adresse" th:field="*{adresse}" />
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label">N° Téléphone</label>
	                        <input class="form-control" type="text" name="numTel" th:field="*{numTel}" />
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label">Village</label>
	                        <select class="form-control" name="idVillage">
	                        	<option value="0"> Choisir un Village</option>
	                        	<option th:each="v:${liste_villages}" th:value="${v.idVillage}" th:text="${v.nom}"></option>
	                        </select>
	                    </div>
	                    <div>
	                        <input class="btn btn-success" type="submit" name="Envoyer" value="Envoyer"/>
	                        <input class="btn btn-danger" type="reset" name="Annuler" value="Annuler"/>
	                    </div>
                	</form>
					
				</div>
	<!--		<div class="panel-footer">Gestion des Clients</div> -->
			</div>
		</div>
	</div>
	
	
	</body>
</html>