<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8" />
<title>Liste des villages</title>
<link rel="stylesheet" type="text/css"
	th:href="@{../public/css/bootstrap.min.css}" />
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="row mt-5">
			<!-- <div class="container mt-5"> -->
			<!-- mt:margine top -->
			<div class="col-md-8 col-lg-7">
				<div class="card">
					<div class="card-header">Liste des Villages</div>
					<div class="card-body table-responsive">
						<!-- <form method="get" th:action="@{/Client/listeClient}">
							<div class="form-group">
								<label>Nom Famille</label>
								<input type="text" name="motcle" />
								<button class="btn btn-success">Rechercher</button>
							</div>
						</form> -->
						<table class="table table-sm table-striped table-bordered table-hover">
							<thead class="thead-light">
								<tr>
									<th>Identifiant Village</th>
									<th>Nom</th>
									<th colspan="2">Action</th>
								</tr>
							</thead>
							<tr th:each="l:${liste_village}">
								<td th:text="${l.idVillage}"></td>
								<td th:text="${l.nom}"></td>
								<!-- 	<td th:text="${l.user.prenom}"></td> -->
								<!-- Editer retourne à la méthode edit dans le controller Village -->
								<td><a class="btn btn-warning"
									th:href="@{/Village/editer(id=${l.idVillage})}">Editer</a></td>
								<td><a class="btn btn-danger"
									onclick="return confirm('Voulez-vous vraiment supprimer ?')"
									th:href="@{/Village/supprimer(id=${l.idVillage})}">Supprimer</a></td>
							</tr>
						</table>
						<!--  On affiche la liste des pages -->
						<ul class="nav nav-pills">
							<!-- nav-pills pour un nav horizontal -->
							<!-- pour afficher les N° de page on utilise status et status.index -->
							<li th:each="page,status:${pages}">
								<!-- on cré des liens pour les pages --> <a
								th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
								th:href="@{/Village/listeVillage(page=${status.index})}"
								th:text="${status.index}"></a>
							</li>
						</ul>
					</div>
					<!--		<div class="panel-footer">Gestion des Villages</div> -->
				</div>
			</div>

			<div class="col-md-4 col-lg-5">
				<div class="card">
					<div class="card-header" th:if="${mode=='ajout'}">Formulaire d'ajout nouveau Village</div>
					<div class="card-header" th:if="${mode=='edit'}">Formulaire de mise à jour de Village</div>
					<div class="card-body table-responsive">
						<form method="POST" th:action="@{/Village/addVillage}"
							th:object="${village}">
							<div class="form-group">
								<label class="control-label">Identifiant village</label> <input
									class="form-control" type="text" name="idVillage"
									th:field="*{idVillage}" />
							</div>
							<div class="form-group">
								<label class="control-label">Nom village</label> <input
									class="form-control" type="text" name="nom" th:field="*{nom}" />
							</div>
							<div class="form-group">
								<label class="control-label">User</label> <select
									class="form-control" name="idUser">
									<option value="0">Choisir un User</option>
									<option th:each="u:${liste_users}" th:value="${u.id}"
										th:text="${u.prenom +' '+ u.nom}"></option>
								</select>
							</div>
							<div>
								<input class="btn btn-success" type="submit" name="Envoyer"
									value="Envoyer" /> <input class="btn btn-danger" type="reset"
									name="Annuler" value="Annuler" />
							</div>
						</form>

					</div>
					<!--		<div class="panel-footer">Gestion des Villages</div> -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>